menu "GSDC IIC Example Configuration"

orsource "../components/spiffs_file/Kconfig"
orsource "../components/gsdc_iic/Kconfig"

if GSDC_IIC_IS_MASTER
    config GSDC_IIC_SHOW_RECEIVED_DATA 
        bool "Send the received data to the output stream"
        default n
        help
            Enable this option to show the received data in the monitor when connected
endif

orsource "../components/led_controller/Kconfig"

endmenu