menu "GSDC IIC Configuration"

    config GSDC_IIC_OVERRIDE_CONFIGURATION_FILE_NAME 
        bool "Override the default file name"
        default n
        help
            You can set the file name to whatever you like (within reason).

    if GSDC_IIC_OVERRIDE_CONFIGURATION_FILE_NAME
        menu "rename configuration file"
            config GSDC_IIC_CONFIGURATION_FILE_NAME
                string "Configuration file name"
                default "iic.cfg"
                help
                    The name to use for the file holding the IIC configuration
        endmenu
    endif # GSDC_IIC_OVERRIDE_CONFIGURATION_FILE_NAME 

    config GSDC_IIC_SCL_PIN
        int "IIC SCL pin"
        default 22
        help
            which GPIO pin to use for the IIC clock line

    config GSDC_IIC_SCL_FREQUENCY
        int "IIC clock frequency (Hertz)"
        default 240000
        help
            The frequency of the IIC clock. defaults to 240kHz
    
    config GSDC_IIC_SDA_PIN
        int "IIC SDA pin"
        default 21
        help
            which GPIO pin to use for the IIC data line
        
    choice GSDC_IIC_MASTER_MODE
        prompt "IIC Role selection"
        default GSDC_IIC_IS_MASTER 

        config GSDC_IIC_IS_MASTER
            bool "This is a server IIC device"
        config GSDC_IIC_IS_SLAVE
            bool "This is a client IIC device"
    endchoice

    if GSDC_IIC_IS_MASTER
            config GSDC_IIC_POLLING_PERIOD
                int "Set the polling period in millisconds"
                default 1000
    endif

    if GSDC_IIC_IS_SLAVE
        choice TEST_MESSAGE_DATA_CHOICE
            prompt "Do you want to use test data for IIC client?"
            default USE_TEST_MESSAGE_DATA

            config DO_NOT_USE_TEST_MESSAGE_DATA
                bool "Do not use test IIC data"
            config USE_TEST_MESSAGE_DATA
                bool "Use builtin test IIC data"
        endchoice
    endif

    if USE_TEST_MESSAGE_DATA
        choice GSDC_IIC_TEST_MESSAGE_DATA
            prompt "Select the size of the test data returned from this client device"
            default GSDC_IIC_SLAVE_MESSAGE_8_BYTE

            config GSDC_IIC_SLAVE_MESSAGE_8_BYTE
                bool "8"
            config GSDC_IIC_SLAVE_MESSAGE_16_BYTE
                bool "16"
            config GSDC_IIC_SLAVE_MESSAGE_32_BYTE
                bool "32"
            config GSDC_IIC_SLAVE_MESSAGE_64_BYTE
                bool "64"
            config GSDC_IIC_SLAVE_MESSAGE_128_BYTE
                bool "128"
            config GSDC_IIC_SLAVE_MESSAGE_256_BYTE
                bool "256"
            config GSDC_IIC_SLAVE_MESSAGE_512_BYTE
                bool "512"
            config GSDC_IIC_SLAVE_MESSAGE_1K
                bool "1024"
            config GSDC_IIC_SLAVE_MESSAGE_2K
                bool "2048"
        endchoice
    endif

endmenu